<div class="block">
    <div *ngFor="let pokemon of pokemons">
        <div (click)="goToPokemon(pokemon)" class="card" pkmnBorderCard>
            <div class="card-image">
                <img [src]="pokemon.picture" [alt]="pokemon.name">
            </div>
            <div class="card-content">
                <div class="pokemon-name">
                    {{ pokemon.name }}
                </div>
                <div>
                    <small>
                        {{ pokemon.created | date:"dd/MM/yyyy"}}
                    </small>
                </div>
                <span *ngFor="let currentType of pokemon.types" class="{{currentType | pokemonTypeColor }}">
                    {{currentType}}
                </span>
            </div>
        </div>
    </div>
</div>