/* You can add global styles to this file, and also import other style files */
h1 {
    text-align: center;
}

.block {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.block .card {
    margin-right: 10%;
}

.block div {
    margin-right: 3%;
}

.card {
    width: 25rem;
    display: flex;
    flex-direction: row;
    margin-left: 5%;
}

.card-image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-image img {
    height: 150px;
}

.card-content {
    display: flex;
    flex-direction: column;
    justify-content: top;
    width: 50%;

}

.card-content div {
    margin-bottom: 5%;
    font-weight: bold;
}

.pokemon-name {
    font-weight: bold;
    font-size: 1.2rem;
}

span {
    text-align: center;
}

.card_pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card_detail {
    display: flex;
    width: 50%;
    border: 1px black solid;
    box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.94)
}

.card_img {
    align-self: center;
}

table {
    margin: 15px;
}

tr {
    font-weight: bold;
}

.border_top {
    background-color: rgba(219, 217, 213, 0.833);
}

.tr_mid {
    background-color: rgba(219, 217, 213, 0.833);
}

.border_bot {
    background-color: rgba(219, 217, 213, 0.833);
}

.back_button {
    display: flex;
    align-items: end;
}

.back_button a {
    background-color: rgba(166, 166, 155, 0.833);
    /* couleur de fond */
    color: white;
    /* couleur du texte */
    padding: 8px;
    /* espacement intérieur du bouton */
    border: none;
    /* pas de bordure */
    border-radius: 4px;
    /* arrondi des coins */
    text-align: center;
    /* centrage du texte */
    text-decoration: none;
    /* pas de soulignement */
    font-size: 16px;
    /* taille du texte */
    margin: 15px 0px 5px 0px;
}